<ion-header>
  <ion-toolbar color="dark">
    <ion-title>{{ isRegistering ? 'Register' : 'Login' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium" class="ion-padding">
  <div class="auth-card">
    <ion-icon [name]="isRegistering ? 'person-add-outline' : 'log-in-outline'" class="auth-icon"></ion-icon>

    <form (ngSubmit)="isRegistering ? onRegister() : onLogin()" #loginForm="ngForm" class="auth-form">
      <ion-item *ngIf="isRegistering" lines="none">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      
      <ion-item lines="none">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" color="primary" class="auth-button">
        {{ isRegistering ? 'Register' : 'Login' }}
      </ion-button>
    </form>

    <ion-button expand="block" fill="clear" color="light" (click)="toggleRegister()" class="toggle-button">
      {{ isRegistering ? 'Already have an account? Login' : 'Don\'t have an account? Register' }}
    </ion-button>
  </div>
</ion-content>
