<ion-header>
  <ion-toolbar>
    <ion-title>{{ isRegistering ? 'Register' : 'Login' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="isRegistering ? onRegister() : onLogin()" #loginForm="ngForm">
    <ion-item *ngIf="isRegistering">
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">
      {{ isRegistering ? 'Register' : 'Login' }}
    </ion-button>
  </form>
  <ion-button expand="full" (click)="toggleRegister()">
    {{ isRegistering ? 'Already have an account? Login' : 'Don\'t have an account? Register' }}
  </ion-button>
</ion-content>
